apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  namespace: "{{ meta.namespace }}"
  name: quay-postgres
  labels:
    quay-component: postgres
spec:
  replicas: 1
  selector:
    matchLabels:  
      quay-component: postgres
  template:
    metadata:
      namespace: "{{ meta.namespace }}"
      labels:
        quay-component: postgres
    spec:
      containers:
      - name: postgres-master
        image: postgres:11
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: "{{ _quay_postgres_user }}"
        - name: POSTGRES_PASSWORD
          value: "{{ _quay_postgres_password }}"
        - name: POSTGRES_DB
          value: "{{ _quay_postgres_database }}"
