apiVersion: v1
kind: Service
metadata:
  namespace: "{{ meta.namespace }}"
  name: quay-postgres
  labels:
    quay-component: postgres
spec:
  ports:
    - port: 5432
  selector:
    quay-component: postgres
